# DADA LA LIMITACION DE RECURSOS EN MI EQUIPO, INSUFICIENTES PARA SOPORTAR LOS DATABASE HASTA AQUI MANEJADOS, ME VEO EN LA NECESIDAD DE GENERAR UN DATASET MAS PEQUEÑO PARA CADA UNA
# DE LAS SIGUIENTES FUNCIONES.
# Por lo tanto, en lo que sigue, primero se generara aquellos datasets y luego se definira cada funcion sobre dicho dataset específico.

In [4]:
import pandas as pd

# Genero un dataset a partir del archivo mvp_movies_ampliada.csv y otro a partir de credit_normalizado.csv.

In [3]:
mvp_funciones_movies = pd.read_csv('movies_ampliada.csv')

In [4]:
mvp_funciones_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       54360 non-null  int64
 1   Unnamed: 0         54360 non-null  int64
 2   pelicula_id        54360 non-null  int64
 3   franquicia_id      54360 non-null  float64
 4   franquicia         54360 non-null  object
 5   genero_id          54218 non-null  float64
 6   nombre_genero      54218 non-null  object
 7   compañia           52673 non-null  object
 8   compañia_id        52673 non-null  float64
 9   iso_3166_1         53749 non-null  object
 10  pais               53749 non-null  object
 11  iso_639_1          54191 non-null  object
 12  presupuesto        54360 non-null  float64
 13  idioma_original    54360 non-null  object
 14  titulo_original    54360 non-null  object
 15  popularidad        54360 non-null  float64
 16  fecha_realizacion  54360 non-null  object
 17  recaudacion        54360 non-null  float64
 18  duracion           54347 non-null  float64
 19  puntaje_reseña     54360 non-null  float64
 20  año_realizacion    54360 non-null  int64
 21  ganancia           35401 non-null  float64
dtypes: float64(9), int64(4), object(9)
memory usage: 9.1+ MB

# 1°: 
# def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.
Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

Primero creo un dataset con los dastos necesarios para correr esta funcion:

In [5]:
mvp_funcion_idioma = mvp_funciones_movies[['idioma_original']]

In [6]:
mvp_funcion_idioma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   idioma_original  54360 non-null  object
dtypes: object(1)
memory usage: 424.8+ KB

In [7]:
mvp_funcion_idioma.to_csv('idioma_original.csv')

In [8]:
def pelicula_idioma(idioma):
    idioma = idioma
    cantidad = mvp_funcion_idioma['idioma_original'].value_counts()[idioma]
    return print(cantidad, ' peliculas fueron estrenadas en idioma', idioma)

In [9]:
pelicula_idioma('en')

38454  peliculas fueron estrenadas en idioma en

# 2°:
# def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. Debe devolver la duracion y el año.
Ejemplo de retorno: X . Duración: x. Año: xx

In [10]:
mvp_funcion_duracion = mvp_funciones_movies[['titulo_original', 'duracion', 'año_realizacion']]

In [11]:
mvp_funcion_duracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  54360 non-null  object
 1   duracion         54347 non-null  float64
 2   año_realizacion  54360 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [12]:
mvp_funcion_duracion.duplicated().sum()

49875

# Habiendo tantos registros repetidos, debo elimiar y deja un registro por titulo original.

In [13]:
mvp_funcion_duracion.drop_duplicates(subset=['titulo_original', 'duracion', 'año_realizacion'], keep='first', inplace=True)
mvp_funcion_duracion.duplicated().sum()
mvp_funcion_duracion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4485 entries, 0 to 54358
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  4485 non-null   object
 1   duracion         4478 non-null   float64
 2   año_realizacion  4485 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 140.2+ KB

C:\Users\alfon\AppData\Local\Temp\ipykernel_18816\1728495335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_duracion.drop_duplicates(subset=['titulo_original', 'duracion', 'año_realizacion'], keep='first', inplace=True)

In [14]:
mvp_funcion_duracion.to_csv('duracion.csv')

In [15]:
def duracion_pelicula(pelicula):

    duracion = mvp_funcion_duracion.loc[mvp_funcion_duracion['titulo_original'] == pelicula]['duracion'].values[0]
    año = mvp_funcion_duracion.loc[mvp_funcion_duracion['titulo_original'] == pelicula]['año_realizacion'].values[0]
    return print(pelicula, '. Duracion:', duracion, '. Año', año)

In [16]:
duracion_pelicula('Toy Story')

Toy Story . Duracion: 81.0 . Año 1995

# 3°
# def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [17]:
mvp_funcion_franquicia = mvp_funciones_movies[['franquicia', 'titulo_original', 'recaudacion']]
mvp_funcion_franquicia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   franquicia       54360 non-null  object
 1   titulo_original  54360 non-null  object
 2   recaudacion      54360 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [18]:
mvp_funcion_franquicia.duplicated().sum()

49879

In [19]:
mvp_funcion_franquicia.drop_duplicates(subset=['franquicia', 'titulo_original', 'recaudacion'], keep='first', inplace=True)
mvp_funcion_franquicia.duplicated().sum()
mvp_funcion_franquicia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4481 entries, 0 to 54358
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   franquicia       4481 non-null   object
 1   titulo_original  4481 non-null   object
 2   recaudacion      4481 non-null   float64
dtypes: float64(1), object(2)
memory usage: 140.0+ KB

C:\Users\alfon\AppData\Local\Temp\ipykernel_18816\2519940161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_franquicia.drop_duplicates(subset=['franquicia', 'titulo_original', 'recaudacion'], keep='first', inplace=True)

In [20]:
mvp_funcion_franquicia.head()

                        franquicia              titulo_original  recaudacion
0             Toy Story Collection                    Toy Story  373554033.0
3        Grumpy Old Men Collection             Grumpier Old Men          0.0
7   Father of the Bride Collection  Father of the Bride Part II   76578911.0
9            James Bond Collection                    GoldenEye  352194034.0
45                Balto Collection                        Balto   11348324.0

In [21]:
mvp_funcion_franquicia.to_csv('franquicias.csv')

In [22]:
def franquicia(franquicia):
    cantidad_titulos = mvp_funcion_franquicia.loc[mvp_funcion_franquicia['franquicia'] == franquicia]['titulo_original'].count()
    recaudacion_total = mvp_funcion_franquicia.loc[mvp_funcion_franquicia['franquicia'] == franquicia]['recaudacion'].sum()
    recaudacion = ('US${:,}'.format(round(recaudacion_total)))
    recaudacion_promedio = recaudacion_total / cantidad_titulos
    recaudacion_prom = ('US${:,}'.format(round(recaudacion_promedio)))
    return print('La franquicia', franquicia, 'posee', cantidad_titulos, 'peliculas', 'una ganancia total de', recaudacion, 'y una ganancia promedio de', recaudacion_prom)

In [23]:
franquicia('Toy Story Collection')

La franquicia Toy Story Collection posee 3 peliculas una ganancia total de US$1,937,890,605 y una ganancia promedio de US$645,963,535

# 4°
# def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
Ejemplo de retorno: Se produjeron X películas en el país X

In [24]:
mvp_funcion_pais = mvp_funciones_movies[['titulo_original', 'pais']]
mvp_funcion_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  54360 non-null  object
 1   pais             53749 non-null  object
dtypes: object(2)
memory usage: 849.5+ KB

In [25]:
mvp_funcion_pais.duplicated().sum()

48854

In [26]:
mvp_funcion_pais.drop_duplicates(subset = ['titulo_original', 'pais'], keep = 'first', inplace=True)
mvp_funcion_pais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5506 entries, 0 to 54358
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  5506 non-null   object
 1   pais             5262 non-null   object
dtypes: object(2)
memory usage: 129.0+ KB

C:\Users\alfon\AppData\Local\Temp\ipykernel_18816\4093546167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_pais.drop_duplicates(subset = ['titulo_original', 'pais'], keep = 'first', inplace=True)

In [27]:
mvp_funcion_pais.head()

                titulo_original                      pais
0                     Toy Story  United States of America
3              Grumpier Old Men  United States of America
7   Father of the Bride Part II  United States of America
9                     GoldenEye            United Kingdom
12                    GoldenEye  United States of America

In [28]:
mvp_funcion_pais.to_csv('paises.csv')

In [29]:
def pelicula_pais(pais):
    pais = pais
    cantidad = mvp_funcion_pais['pais'].value_counts()[pais]
    return print('Se producjeron ', cantidad, ' peliculas en', pais)

In [30]:
pelicula_pais('United States of America')

Se producjeron  2546  peliculas en United States of America

# 5°
# def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
Ejemplo de retorno: La productora X ha tenido un revenue de x

In [31]:
mvp_funcion_productora = mvp_funciones_movies[['pelicula_id', 'compañia', 'recaudacion']]
mvp_funcion_productora.duplicated().sum()

45206

In [32]:
mvp_funcion_productora.drop_duplicates(subset=['pelicula_id', 'compañia', 'recaudacion'], keep = 'first', inplace=True)

C:\Users\alfon\AppData\Local\Temp\ipykernel_18816\1828740154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_productora.drop_duplicates(subset=['pelicula_id', 'compañia', 'recaudacion'], keep = 'first', inplace=True)

In [33]:
mvp_funcion_productora.head()

   pelicula_id                 compañia  recaudacion
0          862  Pixar Animation Studios  373554033.0
3        15602             Warner Bros.          0.0
4        15602           Lancaster Gate          0.0
7        11862    Sandollar Productions   76578911.0
8        11862      Touchstone Pictures   76578911.0

In [34]:
mvp_funcion_productora.to_csv('productoras.csv')

In [35]:
def productora_exitosa(compañia):
    funcion_productora = mvp_funcion_productora.loc[mvp_funcion_productora['compañia'].isin([compañia])]
    revenue = funcion_productora['recaudacion'].sum()
    revenue_res = ('{:,}'.format(round(revenue)))
    cantidad = funcion_productora['pelicula_id'].nunique()

    return print(
        'La productora',compañia,'ha tenido un revenue total de USD$'+revenue_res+','
        '\ny realizo un total de',cantidad,'peliculas.'
        )

In [36]:
productora_exitosa('Pixar Animation Studios')

La productora Pixar Animation Studios ha tenido un revenue total de USD$7,216,620,587,
y realizo un total de 12 peliculas.

# 6°
# def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

Para ello antes debemos crear un dataset especifico para ello:

In [37]:
mvp_funcion_director_movies = mvp_funciones_movies.loc[:, ['pelicula_id', 'titulo_original', 'recaudacion', 'fecha_realizacion', 'presupuesto', 'ganancia']]

In [38]:
mvp_funcion_director_movies.head()

,pelicula_id,titulo_original,recaudacion,fecha_realizacion,presupuesto,ganancia
0,862,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
1,862,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
2,862,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
3,15602,Grumpier Old Men,0.0,1995-12-22,0.0,NaN
4,15602,Grumpier Old Men,0.0,1995-12-22,0.0,NaN

In [39]:
mvp_funcion_director_movies['ganancia'].fillna(0, inplace=True)
mvp_funcion_director_movies.head()
mvp_funcion_director_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pelicula_id        54360 non-null  int64
 1   titulo_original    54360 non-null  object
 2   recaudacion        54360 non-null  float64
 3   fecha_realizacion  54360 non-null  object
 4   presupuesto        54360 non-null  float64
 5   ganancia           54360 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.5+ MB

In [40]:
mvp_funcion_director = pd.read_csv('directores.csv')
mvp_funcion_director.head()

,Unnamed: 0,pelicula_id,puesto,crew_nombre,presupuesto,recaudacion
0,0,862,Director,John Lasseter,30000000.0,373554033.0
1,1,862,Screenplay,Joss Whedon,30000000.0,373554033.0
2,2,862,Screenplay,Andrew Stanton,30000000.0,373554033.0
3,3,862,Screenplay,Joel Cohen,30000000.0,373554033.0
4,4,862,Screenplay,Alec Sokolow,30000000.0,373554033.0

In [41]:
mvp_funcion_dir = pd.merge(mvp_funcion_director[mvp_funcion_director['puesto'] == 'Director'], mvp_funcion_director_movies, on='pelicula_id')
mvp_funcion_dir.head()

,Unnamed: 0,pelicula_id,puesto,crew_nombre,presupuesto_x,recaudacion_x,titulo_original,recaudacion_y,fecha_realizacion,presupuesto_y,ganancia
0,0,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
1,0,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
2,0,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
3,106,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
4,106,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801

In [42]:
mvp_funcion_dir.drop('Unnamed: 0', axis=1, inplace=True)
mvp_funcion_dir.head()

,pelicula_id,puesto,crew_nombre,presupuesto_x,recaudacion_x,titulo_original,recaudacion_y,fecha_realizacion,presupuesto_y,ganancia
0,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
1,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
2,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
3,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
4,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801

In [43]:
mvp_funcion_dir.drop_duplicates(inplace=True)
mvp_funcion_dir.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5128 entries, 0 to 87031473
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pelicula_id        5128 non-null   int64
 1   puesto             5128 non-null   object
 2   crew_nombre        5128 non-null   object
 3   presupuesto_x      5128 non-null   float64
 4   recaudacion_x      5128 non-null   float64
 5   titulo_original    5128 non-null   object
 6   recaudacion_y      5128 non-null   float64
 7   fecha_realizacion  5128 non-null   object
 8   presupuesto_y      5128 non-null   float64
 9   ganancia           5128 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 440.7+ KB

In [44]:
mvp_funcion_dir.head()

,pelicula_id,puesto,crew_nombre,presupuesto_x,recaudacion_x,titulo_original,recaudacion_y,fecha_realizacion,presupuesto_y,ganancia
0,862,Director,John Lasseter,30000000.0,373554033.0,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
117,15602,Director,Howard Deutch,0.0,0.0,Grumpier Old Men,0.0,1995-12-22,0.0,0.000000
229,11862,Director,Charles Shyer,0.0,76578911.0,Father of the Bride Part II,76578911.0,1995-02-10,0.0,inf
277,710,Director,Martin Campbell,58000000.0,352194034.0,GoldenEye,352194034.0,1995-11-16,58000000.0,6.072311
8917,21032,Director,Simon Wells,0.0,11348324.0,Balto,11348324.0,1995-12-22,0.0,inf

In [45]:
mvp_funcion_dir.drop(['puesto', 'presupuesto_x', 'recaudacion_x'], axis=1, inplace=True)
mvp_funcion_dir.rename(columns = {'crew_nombre' : 'director', 'recaudacion_y' : 'recaudacion', 'presupuesto_y' : 'presupuesto'}, inplace=True)
mvp_funcion_dir.head()

,pelicula_id,director,titulo_original,recaudacion,fecha_realizacion,presupuesto,ganancia
0,862,John Lasseter,Toy Story,373554033.0,1995-10-30,30000000.0,12.451801
117,15602,Howard Deutch,Grumpier Old Men,0.0,1995-12-22,0.0,0.000000
229,11862,Charles Shyer,Father of the Bride Part II,76578911.0,1995-02-10,0.0,inf
277,710,Martin Campbell,GoldenEye,352194034.0,1995-11-16,58000000.0,6.072311
8917,21032,Simon Wells,Balto,11348324.0,1995-12-22,0.0,inf

In [46]:
mvp_funcion_dir.to_csv('dir.csv')

In [47]:
def get_director(director):
    director = director
    dir_subset = mvp_funcion_dir.loc[mvp_funcion_dir['director'].isin([director])]
    retorno = dir_subset['recaudacion'].sum()
    cantidad_peliculas = dir_subset['pelicula_id'].nunique()
    lista = dir_subset[['titulo_original', 'fecha_realizacion', 'recaudacion', 'presupuesto', 'ganancia']].values.tolist()



    return print('El director', director, 'ha generado una retorno total de', retorno, ', y ha dirigido', cantidad_peliculas, 'peliculas, cuyos nombres, fecha de lanzamiento, retorno, costo y ganancia son:' 
    '\n',  lista)

In [48]:
get_director('John Lasseter')

El director John Lasseter ha generado una retorno total de 1892756447.0 , y ha dirigido 4 peliculas, cuyos nombres, fecha de lanzamiento, retorno, costo y ganancia son:
 [['Toy Story', '1995-10-30', 373554033.0, 30000000.0, 12.4518011], ['Toy Story 2', '1999-10-30', 497366869.0, 90000000.0, 5.526298544444445], ['Cars', '2006-06-08', 461983149.0, 120000000.0, 3.849859575], ['Cars 2', '2011-06-11', 559852396.0, 200000000.0, 2.79926198]]

In [49]:
mvp_funcion_dir.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5128 entries, 0 to 87031473
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pelicula_id        5128 non-null   int64
 1   director           5128 non-null   object
 2   titulo_original    5128 non-null   object
 3   recaudacion        5128 non-null   float64
 4   fecha_realizacion  5128 non-null   object
 5   presupuesto        5128 non-null   float64
 6   ganancia           5128 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 320.5+ KB

# Para poder hacer recomiende peliculas presentes en el dataset dirigidas por un director indicado, definimos una funcion:

In [52]:
def recomendacion_por_director(director):
    dir_subset = mvp_funcion_dir.loc[mvp_funcion_dir['director'].isin([director])]
    recomendacion = dir_subset.loc[dir_subset['director'] == director]['titulo_original'].tolist()
    return print('Director: ', director,
                 '\n', 'Pelis recomendadas:', recomendacion)

In [53]:
recomendacion_por_director('John Lasseter')

Director:  John Lasseter
 Pelis recomendadas: ['Toy Story', 'Toy Story 2', 'Cars', 'Cars 2']