# DADA LA LIMITACION DE RECURSOS EN MI EQUIPO, INSUFICIENTES PARA SOPORTAR LOS DATABASE HASTA AQUI MANEJADOS, ME VEO EN LA NECESIDAD DE GENERAR UN DATASET MAS PEQUEÑO PARA CADA UNA
# DE LAS SIGUIENTES FUNCIONES.
# Por lo tanto, en lo que sigue, primero se generara aquellos datasets y luego se definira cada funcion sobre dicho dataset específico.

In [183]:
import pandas as pd

# Genero un dataset a partir del archivo mvp_movies_ampliada.csv y otro a partir de credit_normalizado.csv.

In [184]:
mvp_funciones_movies = pd.read_csv('movies_ampliada.csv')

In [185]:
mvp_funciones_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       54360 non-null  int64
 1   Unnamed: 0         54360 non-null  int64
 2   pelicula_id        54360 non-null  int64
 3   franquicia_id      54360 non-null  float64
 4   franquicia         54360 non-null  object
 5   genero_id          54218 non-null  float64
 6   nombre_genero      54218 non-null  object
 7   compañia           52673 non-null  object
 8   compañia_id        52673 non-null  float64
 9   iso_3166_1         53749 non-null  object
 10  pais               53749 non-null  object
 11  iso_639_1          54191 non-null  object
 12  presupuesto        54360 non-null  float64
 13  idioma_original    54360 non-null  object
 14  titulo_original    54360 non-null  object
 15  popularidad        54360 non-null  float64
 16  fecha_realizacion  54360 non-null  object
 17  recaudacion        54360 non-null  float64
 18  duracion           54347 non-null  float64
 19  puntaje_reseña     54360 non-null  float64
 20  año_realizacion    54360 non-null  int64
 21  ganancia           35401 non-null  float64
dtypes: float64(9), int64(4), object(9)
memory usage: 9.1+ MB

# 1°: 
# def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.
Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

Primero creo un dataset con los dastos necesarios para correr esta funcion:

In [186]:
mvp_funcion_idioma = mvp_funciones_movies[['idioma_original']]

In [187]:
mvp_funcion_idioma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   idioma_original  54360 non-null  object
dtypes: object(1)
memory usage: 424.8+ KB

In [188]:
mvp_funcion_idioma.to_csv('idioma_original.csv')

In [189]:
def pelicula_idioma(idioma):
    idioma = idioma
    cantidad = mvp_funcion_idioma['idioma_original'].value_counts()[idioma]
    return print(cantidad, ' peliculas fueron estrenadas en idioma', idioma)

In [190]:
pelicula_idioma('en')

38454  peliculas fueron estrenadas en idioma en

# 2°:
# def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. Debe devolver la duracion y el año.
Ejemplo de retorno: X . Duración: x. Año: xx

In [191]:
mvp_funcion_duracion = mvp_funciones_movies[['titulo_original', 'duracion', 'año_realizacion']]

In [192]:
mvp_funcion_duracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  54360 non-null  object
 1   duracion         54347 non-null  float64
 2   año_realizacion  54360 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [193]:
mvp_funcion_duracion.duplicated().sum()

49875

# Habiendo tantos registros repetidos, debo elimiar y deja un registro por titulo original.

In [194]:
mvp_funcion_duracion.drop_duplicates(subset=['titulo_original', 'duracion', 'año_realizacion'], keep='first', inplace=True)
mvp_funcion_duracion.duplicated().sum()
mvp_funcion_duracion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4485 entries, 0 to 54358
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  4485 non-null   object
 1   duracion         4478 non-null   float64
 2   año_realizacion  4485 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 140.2+ KB

C:\Users\alfon\AppData\Local\Temp\ipykernel_10304\1728495335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_duracion.drop_duplicates(subset=['titulo_original', 'duracion', 'año_realizacion'], keep='first', inplace=True)

In [195]:
mvp_funcion_duracion.to_csv('duracion.csv')

In [196]:
def duracion_pelicula(pelicula):

    duracion = mvp_funcion_duracion.loc[mvp_funcion_duracion['titulo_original'] == pelicula]['duracion'].values[0]
    año = mvp_funcion_duracion.loc[mvp_funcion_duracion['titulo_original'] == pelicula]['año_realizacion'].values[0]
    return print(pelicula, '. Duracion:', duracion, '. Año', año)

In [197]:
duracion_pelicula('Toy Story')

Toy Story . Duracion: 81.0 . Año 1995

# 3°
# def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [199]:
mvp_funcion_franquicia = mvp_funciones_movies[['franquicia', 'titulo_original', 'recaudacion']]
mvp_funcion_franquicia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   franquicia       54360 non-null  object
 1   titulo_original  54360 non-null  object
 2   recaudacion      54360 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [200]:
mvp_funcion_franquicia.duplicated().sum()

49879

In [201]:
mvp_funcion_franquicia.drop_duplicates(subset=['franquicia', 'titulo_original', 'recaudacion'], keep='first', inplace=True)
mvp_funcion_franquicia.duplicated().sum()
mvp_funcion_franquicia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4481 entries, 0 to 54358
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   franquicia       4481 non-null   object
 1   titulo_original  4481 non-null   object
 2   recaudacion      4481 non-null   float64
dtypes: float64(1), object(2)
memory usage: 140.0+ KB

C:\Users\alfon\AppData\Local\Temp\ipykernel_10304\2519940161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_franquicia.drop_duplicates(subset=['franquicia', 'titulo_original', 'recaudacion'], keep='first', inplace=True)

In [202]:
mvp_funcion_franquicia.head()

                        franquicia              titulo_original  recaudacion
0             Toy Story Collection                    Toy Story  373554033.0
3        Grumpy Old Men Collection             Grumpier Old Men          0.0
7   Father of the Bride Collection  Father of the Bride Part II   76578911.0
9            James Bond Collection                    GoldenEye  352194034.0
45                Balto Collection                        Balto   11348324.0

In [203]:
mvp_funcion_franquicia.to_csv('franquicias.csv')

In [204]:
def franquicia(franquicia):
    cantidad_titulos = mvp_funcion_franquicia.loc[mvp_funcion_franquicia['franquicia'] == franquicia]['titulo_original'].count()
    recaudacion_total = mvp_funcion_franquicia.loc[mvp_funcion_franquicia['franquicia'] == franquicia]['recaudacion'].sum()
    recaudacion = ('US${:,}'.format(round(recaudacion_total)))
    recaudacion_promedio = recaudacion_total / cantidad_titulos
    recaudacion_prom = ('US${:,}'.format(round(recaudacion_promedio)))
    return print('La franquicia', franquicia, 'posee', cantidad_titulos, 'peliculas', 'una ganancia total de', recaudacion, 'y una ganancia promedio de', recaudacion_prom)

In [205]:
franquicia('Toy Story Collection')

La franquicia Toy Story Collection posee 3 peliculas una ganancia total de US$1,937,890,605 y una ganancia promedio de US$645,963,535

# 4°
# def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
Ejemplo de retorno: Se produjeron X películas en el país X

In [206]:
mvp_funcion_pais = mvp_funciones_movies[['titulo_original', 'pais']]
mvp_funcion_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54360 entries, 0 to 54359
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  54360 non-null  object
 1   pais             53749 non-null  object
dtypes: object(2)
memory usage: 849.5+ KB

In [207]:
mvp_funcion_pais.duplicated().sum()

48854

In [208]:
mvp_funcion_pais.drop_duplicates(subset = ['titulo_original', 'pais'], keep = 'first', inplace=True)
mvp_funcion_pais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5506 entries, 0 to 54358
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titulo_original  5506 non-null   object
 1   pais             5262 non-null   object
dtypes: object(2)
memory usage: 129.0+ KB

C:\Users\alfon\AppData\Local\Temp\ipykernel_10304\4093546167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_pais.drop_duplicates(subset = ['titulo_original', 'pais'], keep = 'first', inplace=True)

In [209]:
mvp_funcion_pais.head()

                titulo_original                      pais
0                     Toy Story  United States of America
3              Grumpier Old Men  United States of America
7   Father of the Bride Part II  United States of America
9                     GoldenEye            United Kingdom
12                    GoldenEye  United States of America

In [210]:
mvp_funcion_pais.to_csv('paises.csv')

In [211]:
def pelicula_pais(pais):
    pais = pais
    cantidad = mvp_funcion_pais['pais'].value_counts()[pais]
    return print('Se producjeron ', cantidad, ' peliculas en', pais)

In [212]:
pelicula_pais('United States of America')

Se producjeron  2546  peliculas en United States of America

# 5°
# def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
Ejemplo de retorno: La productora X ha tenido un revenue de x

In [213]:
mvp_funcion_productora = mvp_funciones_movies[['titulo_original', 'compañia', 'recaudacion']]
mvp_funcion_productora.duplicated().sum()

45206

In [214]:
mvp_funcion_productora.drop_duplicates(subset=['titulo_original', 'compañia', 'recaudacion'], keep = 'first', inplace=True)

C:\Users\alfon\AppData\Local\Temp\ipykernel_10304\832767332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvp_funcion_productora.drop_duplicates(subset=['titulo_original', 'compañia', 'recaudacion'], keep = 'first', inplace=True)

In [215]:
mvp_funcion_productora.head()

               titulo_original                 compañia  recaudacion
0                    Toy Story  Pixar Animation Studios  373554033.0
3             Grumpier Old Men             Warner Bros.          0.0
4             Grumpier Old Men           Lancaster Gate          0.0
7  Father of the Bride Part II    Sandollar Productions   76578911.0
8  Father of the Bride Part II      Touchstone Pictures   76578911.0

In [216]:
mvp_funcion_productora.to_csv('productoras.csv')

In [217]:
def productoras_exitosas (compañia):
    comapañia = compañia
    recaudacion_total = mvp_funcion_productora.loc[mvp_funcion_productora['compañia'] == compañia]['recaudacion'].sum()
    recaudacion = ('US${:,}'.format(round(recaudacion_total)))

    #peliculas_totales = mvp_funcion_productora.loc[mvp.funcion_productora['compañia'] == compañia]['titulo_original'].nunique()

    return print('La compañia', compañia, 'ha tenido un revenue de', recaudacion)#, 'y producido un total de', peliculas_totales)

In [218]:
productoras_exitosas('Pixar Animation Studios')

La compañia Pixar Animation Studios ha tenido un revenue de US$7,216,620,587

# 6°
# def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [ ]:
def get_director(director):
    director_subset = mvp_movies_aplicada.loc[mvp_movies_aplicada['crew_nombre'].isin([director])]
    #retorno = mvp_movies_aplicada.loc['recaudacion'].sum()


    return print('El director', director, 'ha generado una retorno total de')#, retorno)

In [ ]:
get_director('John Lasseter')

El director John Lasseter ha generado una retorno total de