# EN ESTE ARCHIVO SE ENCONTRARA UN MODELADO DEL DATASET mvp_movies.ipynb DESTINADO A DAR CUMPLIMIENTO CON EL RESTO DE LAS CONSIGNAS DE TRANSFORMACION.

In [23]:
import pandas as pd
import numpy as np

In [24]:
mvp_movies = pd.read_csv('movies_normalizado.csv')

## Antes de crear las funciones, hay que terminar con la tranformacion y normalizacion del df.

Comienzo viendo si existen nulos en las columnas presupuesto, recaudacion y fecha de realizacion:

In [26]:
nulos_presupuesto = mvp_movies["presupuesto"].isnull().sum()
nulos_recaudacion = mvp_movies["recaudacion"].isnull().sum()
print(nulos_recaudacion, nulos_presupuesto)
## no hay nulos

0 0

In [27]:
nulos_fecha_ralizacion = mvp_movies["fecha_realizacion"].isnull().sum()
nulos_fecha_ralizacion

7

In [28]:
# Los nulos en la columna fecha_realizacion deben eliminarse:

mvp_movies = mvp_movies.dropna(subset=['fecha_realizacion'])

In [29]:
nulos_fecha_ralizacion = mvp_movies["fecha_realizacion"].isnull().sum()
nulos_fecha_ralizacion

0

In [30]:
# Creo la columna año_realizacion:
mvp_movies['año_realizacion'] = pd.to_datetime(mvp_movies['fecha_realizacion']).dt.year
mvp_movies.head(3)

,Unnamed: 0,pelicula_id,franquicia_id,franquicia,genero_id,nombre_genero,compañia,compañia_id,iso_3166_1,pais,iso_639_1,presupuesto,idioma_original,titulo_original,popularidad,fecha_realizacion,recaudacion,duracion,puntaje_reseña,año_realizacion
0,0,862,10194.0,Toy Story Collection,16.0,Animation,Pixar Animation Studios,3.0,US,United States of America,en,30000000,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,7.7,1995
1,1,862,10194.0,Toy Story Collection,35.0,Comedy,Pixar Animation Studios,3.0,US,United States of America,en,30000000,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,7.7,1995
2,2,862,10194.0,Toy Story Collection,10751.0,Family,Pixar Animation Studios,3.0,US,United States of America,en,30000000,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,7.7,1995

# Al observar el tipo de dato de las columnas presupuesto y recaudacion noto que presupuesto es 'int64'. Por lo que necesito cambiar a tipo float64 para poder calcular la ganancia.

Una vez hecha la transformacion, procedo a calcular la columna ganancia.

In [31]:
mvp_movies['presupuesto'] = mvp_movies['presupuesto'].astype('float64')

In [32]:
mvp_movies['ganancia'] = mvp_movies['recaudacion'] / mvp_movies['presupuesto']
mvp_movies.head(3)

,Unnamed: 0,pelicula_id,franquicia_id,franquicia,genero_id,nombre_genero,compañia,compañia_id,iso_3166_1,pais,...,presupuesto,idioma_original,titulo_original,popularidad,fecha_realizacion,recaudacion,duracion,puntaje_reseña,año_realizacion,ganancia
0,0,862,10194.0,Toy Story Collection,16.0,Animation,Pixar Animation Studios,3.0,US,United States of America,...,30000000.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,7.7,1995,12.451801
1,1,862,10194.0,Toy Story Collection,35.0,Comedy,Pixar Animation Studios,3.0,US,United States of America,...,30000000.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,7.7,1995,12.451801
2,2,862,10194.0,Toy Story Collection,10751.0,Family,Pixar Animation Studios,3.0,US,United States of America,...,30000000.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,7.7,1995,12.451801

In [33]:
mvp_movies.to_csv('movies_ampliada.csv')

### Finalizadas las transformaciones, procedo a definir las funciones en el archivo mvp.funciones.ipynb